/*================================
            About
================================*/
.about {
  max-width: 800px;
}

.quote {
  margin: 90px 0;
  padding: 15px 30px;
  border-left: 3px solid #000;
  background: rgb(250,250,250);
}

  /* 💻 */
@media only screen and (min-width : 500px) {
  img {
    max-width: 60%;
  }
}