/*================================
            Home
================================*/
.home p {
    max-width: 680px;
    line-height: 1.8;
}

.home a:hover {
    color: #2D84FF;
}
  
/* 💻 */
@media only screen and (min-width : 500px) {
  .home {
    padding-top: 90px;
  }
}

/* 📱 */
@media only screen and (max-width : 500px) {
  .home {
    padding: 30px 0 120px;
  }
}