/*================================
            Home
================================*/
.home {
  padding-top: 60px;

  .header {
    display: flex;
    align-items: center;

    h1 {
      line-height: 1.1;
    }

    img {
      padding-right: 15px;
      width: 75px;
      height: 75px;
      border-radius: 60px;
    }
  }

  p {
    max-width: 580px;
    line-height: 1.6;
  }
}
