/*================================
            Home
================================*/
.home {
  padding-top: 45px;

  .header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  p {
    max-width: 580px;
    line-height: 1.6;
  }
}
