main {
  padding: 30px;
  height: 75vh;
}

/*================================
          Navigation
================================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav h1 a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

nav ul  {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #aaa;
  text-decoration: none;
  transition: all .2s;
}

nav ul li a:hover {
  color: #333;
}

nav ul li:first-child {
  margin-right: 30px;
}

nav ul li:hover {
  cursor: pointer;
}

/*================================
          Footer
================================*/
footer ul {
  margin-bottom: 30px;
  display: flex;
}

footer ul li {
  margin-right: 30px;
  list-style: none;
}

footer ul li a {
  color: #aaa;
  text-decoration: none;
  transition: all .2s;
}

footer ul li a:hover {
  color: #333;
}


/*================================
          Media Queries
================================*/

/*========= > 768px 💻 =========*/
@media only screen and (min-width : 768px) {

}

/*========= < 500px 📱=========*/
@media only screen and (max-width : 500px) {
  
}
