main {
  padding: 15px;
}

/*================================
     Navigation
================================*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #000;
  color: #fff;
}

nav ul  {
  display: flex;
}

nav ul li {
  margin: 10px;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  cursor: pointer;
}

