main {
  padding: 30px;
}

/*================================
          Navigation
================================*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav h1 {
  font-size: 18px;
  font-weight: bold;
}

nav ul  {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li:first-child {
  margin-right: 30px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav ul li:hover {
  cursor: pointer;
}

/*================================
          Media Queries
================================*/

/*========= > 768px 💻 =========*/
@media only screen and (min-width : 768px) {

}

/*========= < 500px 📱=========*/
@media only screen and (max-width : 500px) {
  
}
