body {
  margin: 0 auto;
  max-width: 1400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(253,253,253)
}

main {
  padding: 30px;
  height: 75vh;
  line-height: 1.8;
}

a {
  color: #2D84FF;
}

a:hover {
  color: #0067F9;
}

p {
  font-size: 24px;
}
