@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$blue: #2D84FF;
$blue-dark: #0067F9;
$orange: #FFA82D;

body {
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333;
  background: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
  position: relative;
  min-height: 100vh;
}

main {
  padding: 0 30px 120px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  transition: .3s all;
  color: $blue;
}

a:hover {
  color: $blue-dark;
}

p {
  font-size: 20px;
}

img {
  width: 100%;
}

.button {
  background-color: #2D84FF;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
}

/*========================================
          Fade In
 ========================================*/
.animate {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*========================================
          Media Queries
 ========================================*/
/* Desktop view 💻 */
@media only screen and (min-width : 500px) {

}

/* Smartphone view 📱*/
@media only screen and (max-width : 500px) {
  h2 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }
}
