body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  background: rgb(253,253,253);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  position: relative;
  min-height: 100vh;
}

main {
  padding: 0 30px 120px;
  line-height: 1.6;
}

h2 {
  font-size: 38px;
}

a {
  color: #444;
}

p {
  font-size: 24px;
}

img {
  width: 100%;
}

.button {
  background-color: #2D84FF;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
}


/* 📱*/
@media only screen and (max-width : 500px) {
  h2 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }
}