/*================================
             Work
================================*/
.work {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.work-card {
  flex: 0 50%;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: .3s ease;
  }

  .work-description {
    margin-top: -8px;
    padding: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
    transition: .3s ease;
  }

  h3 {
    margin: 0 0 8px;
    color: #fff;
  }

  span {
    display: block;
    font-size: 16px;
    color: #fff;
  }

  small {
    font-size: 14px;
    color: #fff;
  }
}

.work-card:nth-child(even) {
  margin-top: -45px;
}

.work-card:hover .work-description,
.work-card:hover img {
  transition: .3s ease;
  transform: translateY(-5px);
}

.addon {
  background: #1E52A1;
}

.edco {
  background: #F06D40;
}

.proline {
  background: #C91417;
}

.sn {
  background: #21355A;
}

/* Smartphone view 📱*/
@media only screen and (max-width : 600px) {
  .work {
    margin-top: 30px;
  }

  .work-card {
    flex: auto;
    margin-bottom: 0;
  }

  .work-card:nth-child(even) {
    margin-top: 0;
  }
}
